name: Update OpenAPI Workflow

on:
  schedule:
  - cron: '0 0 * * *'
  workflow_dispatch: { }

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Read old API version
      id: apiVersionOld
      uses: mikefarah/yq@master
      with:
        cmd: yq '.info.version' 'openapi.yaml'

    - name: Backup original files
      run: |
        mv openapi.yaml openapi.old.yaml
        mv openapi.slim2.yaml openapi.old.slim2.yaml

    - name: Download the latest version
      uses: enflo/curl-action@master
      with:
        curl: -o openapi.yaml https://api.gsmtasks.com/docs/schema/

    - name: Read API version
      id: apiVersion
      uses: mikefarah/yq@master
      with:
        cmd: yq '.info.version' 'openapi.yaml'

    - name: Set up node
      uses: actions/setup-node@v4
      with:
        node-version: v22

    - name: Generate slim
      run: npx betterer-json slim.js openapi.yaml > openapi.slim2.yaml

    - name: Compare files
      run: |
        set +e
        diff openapi.old.slim2.yaml openapi.slim2.yaml
        exit_code=$?
        echo "exit_code=${exit_code}" >> $GITHUB_OUTPUT
        set -e
      id: compare
      continue-on-error: true

    - name: Outputs from Compare step
      run: |
        echo "Outputs from compare:"
        echo "${{ toJson(steps.compare.outputs) }}"

    - name: Commit and push changes
      if: ${{ steps.compare.outputs.exit_code == 1 }}
      run: |
        VERSION=${{ steps.apiVersion.outputs.result }}
        git config --global user.email "action@github.com"
        git config --global user.name "GitHub Action"
        git add openapi.yaml openapi.slim2.yaml
        git commit -m "Update OpenAPI ${VERSION}"
        git push
